{% extends "video/base.html" %}

{% block content %}

{% if user.is_authenticated %}

<div class="container">
    <br>
    <h1 class="addcategory-toptitle">カテゴリー追加</h1>
    <br>
    <br>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}
            <br>
            <button class="btn btn-secondary" id="addcategory-btn">カテゴリ追加</button>
        </form>
    </div>
    {% else %}
    YOU'RE NOT ALLOWED HERE!!(and you know it ...)
</div>
{% endif %}


{% endblock %}
