{% extends 'video/base.html' %}

{% block content %}
<div class="">
    <div class="toppage-bg-color bg-gradient vw-100 vh-100 d-flex flex-column align-items-center justify-content-center">
        <div class="">
            <h1 class="text-light" id="top-copy-text">Commercial Share Space</h1>
        </div>
        <br>
        <div class="">
            <h3 class="text-light text-center">
                CM動画の共有スペースとして作成しました<br>
                OAしてるのに "見たことない" という事を避けられたらという思いです。<br>
                基本的には完成物 & 既にOAしているCM掲載を想定してます<br>
                みなさんの意見も聞きながら改良を加えて行けたら良いのではないかと思っております<br>
            </h3>
        </div>
        <br>
<!--        <div class="">-->
<!--            <p><a href="{% url 'video:login' %}" class="btn btn-outline-light">さらに詳しく</a></p>-->
<!--        </div>-->
    </div>
</div>
{% endblock %}
