{% extends 'video/base.html' %}

{% block content %}
<div class="">
    <div class="bg-dark bg-gradient vw-100 vh-100 d-flex flex-column align-items-center justify-content-center">
        <div class="">
            <h1 class="text-light">Commercial Share SPACE</h1>
        </div>
        <br>
        <div class="">
            <h5 class="text-light text-center">
                CM動画共有！！<br>
<!--                CM制作はたくさんの人が関わっていて生まれるものなのに、見る機会が少ないものもあり<br>-->
<!--                それぞれの公式HPにいかなければ見れないという事も面倒だと感じました。<br>-->
<!--&lt;!&ndash;                中には目にする機会もなく消えてしまい、存在さえ認識されてないものも多いと感じました。<br>&ndash;&gt;-->
<!--                なので、みんなでCM素材の共有をできるサイトを作ろうと思いました。<br>-->
<!--                社内所属の方が出演中の完成物のCM15秒,30秒のみを掲載してます。競合の概念などは特にありません。<br>-->
<!--                期間も特に設けるつもりはなく、過去の作品も掲載できるうる範囲で掲載できたら良いのではないかと思います<br>-->
            </h5>
        </div>
        <br>
<!--        <div class="">-->
<!--            <p><a href="{% url 'video:login' %}" class="btn btn-outline-light">さらに詳しく</a></p>-->
<!--        </div>-->
    </div>
</div>
{% endblock %}
